*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    width: 50%;
    text-align: center;
    border: 1px solid blue;
}

div{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}