div{
    border: solid;
    margin-left: 50px;
}

h1{
    border: 8px groove red;
    border-radius: 10px;
    margin: auto;
}

p{
    border: 5px dotted black;
    margin-left: inherit;
    margin-top: 8px;
}